body {
  font-family: 'Abel', sans-serif;
  background: #CCC;
}

.weatherBox {
  margin: 100px auto;
}

#buttons {
  margin: 10px 0px;
}

#weatherIcon {
  color: #FF5800;
}

/* Generic Footer CSS for my "brand" */
.contactList {
  list-style: none;
  padding: 0px;
}

.contactList li {
  margin: 10px;
  display: inline-block;
}

.contactList li i {
  padding: 5px;
  color: #333;
  text-shadow: 1px 1px 1px #000;
}

.fa-facebook:hover, .fa-linkedin:hover, .fa-fire:hover, .fa-github:hover, .fa-instagram:hover {
  color: #FF5800;
}
